.body-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.tool-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    height: 100%;
    padding: 15px;
    background-color: #FAFAFA;
    box-shadow: 2px 0px 5px #ccc;
}

.content-box {
    display: flex;
    flex-direction: column;
    width: calc(100% - 235px);
    height: 100%;
    background-color: #fff;
}

.receive-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 230px);
}
.receive-windows {
    width: 100%;
    height: calc(100% - 26px);
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.send-box {
    display: flex;
    flex-direction: column;
    height: 230px;
}

.send-header {
    height: 26px;
    padding-left: 15px;
    line-height: 26px;
    background-color: #FAFAFA;
}

.send-windows {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #ccc;
}

.input-send-data {
    width: 100%;
    height: 100%;
    padding: 15px;
    border: 0px;
    resize: none;
}

.send-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

.btn-box {
    margin-right: 15px;
    margin-top: 8px;
}